<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Mostrar Sueldo de Empleado</title>
  <link rel="stylesheet" type="text/css" href="/CSS/styles.css">
</head>
<body>
<h1>Resultado de la Búsqueda de Sueldo</h1>

<div th:if="${sueldo != null and sueldo != 0}">
  <p>El sueldo del empleado es: <strong th:text="'$' + ${sueldo}"></strong></p>
</div>
<div th:if="${sueldo == 0 and error == null}">
  <p style="color: red;"><strong>Error:</strong> <span th:text="${error}"></span></p>
  <p>No se ha podido encontrar el sueldo. Por favor, intente de nuevo.</p>
</div>

<a class="volver" th:href="@{/empresa/nominas/buscarSueldo}">Buscar otro sueldo</a>
<a class="volver" th:href="@{/}">Volver al inicio</a>
</body>
</html>
